      @font-face {
        src: url(../Fonts/AmazonEmberDisplay_Md.ttf);
        font-family: 'Amazon Ember Display';
      }
      body, html {
        margin: 0px;
        padding: 0px;
        outline: none;
        font-family: 'Amazon Ember Display';
        color: rgb(54, 54, 54);
        line-height: 26px;
      }
      body {
        background-color: rgb(199, 199, 199);
      }
      a {
        text-decoration: none;
        color: blue;
      }
      h2 {
        margin: 0px;
        padding: 14px;
        border-bottom: 1px solid rgb(225, 225, 225);
        border-left: 4px solid #00238c;
        font-size: 24px;
        color: rgb(54, 54, 54);
      }
      .division {
          margin: 10px auto;
          background-color: white;
        }
      .inner-content {
        padding:  0px 24px 24px 24px;
      }
      input {
    	font-size: inherit;
    	font-family: inherit;
      }
      textarea {
        border: 1px solid rgb(222, 222, 222);
        min-width: calc(100% - 20px);
        max-width: calc(100% - 20px);
        min-height: 150px;
        max-height: 150px;
        padding: 10px;
        font-family: inherit;
        font-size: inherit;
        color: rgb(54, 54, 54);
      }
      .collection input {
      	font-size: inherit;
    	  outline: none;
    	  border: none;
      }
      #input[type="submit"] {
        outline: none!important;
      }
      .wide-input-field, .collection {
        width: calc(100% - 20px);
        padding: 0px 8px;
        border: 1px solid rgb(222, 222, 222);
        margin-bottom: 14px;
        font-size: inherit;
      }
      input[type="submit"]:hover, img:hover input[type="radio"] {
        cursor: pointer;
      }
      a:hover {
        color: #00056e;
      }
      .rectangular-button:hover, input[type="submit"]:hover {
        background-color: #00056e;
      }
      .text-align-center {
    	text-align: center;
      }
      .font-size-small {
    	font-size: small;
    line-height: 18px;
      }
      .field-icon {
        padding: 0px;
        vertical-align: middle;
        height: 20px;
        margin: 9px 0px 0px 0px;
        filter: invert(45%);
        float: right;
      }
      #phone:focus, #email:focus, .collection:focus, .name:focus {
        border: none;
      }
      .background-color {
        background-color: #00238c;
        color: white;
      }
      .input-field {
        height: 40px;
        border: 1px solid rgb(222, 222, 222);
        margin-bottom: 14px;
        font-size: inherit;
        font-family: inherit;
      }
      .outline-on-focus:focus {
        border: none;
        outline: 1px solid #00238c;
      }
      input[type="radio"], input[type="checkbox"] {
        margin: 0px 6px;
      }
      input[type="radio"]:focus, input[type="checkbox"]:focus {
        outline: none;
      }
      .rectangular-button {
        padding: 2px 14px;
        border: none;
        height: 40px;
        height: 50px;
        text-align: center;
        color: white;
      }
      #quick-form {
        margin-top: 24px;
      }
      #quick-form-div {
        border: 1px solid rgb(222, 222, 222);
      }
      #quick-form-div input[type="text"]{
        width: calc(100% - 117px);
        color: inherit;
        font-size: inherit;
        font-family: inherit;
      }
      #quick-form-div input[type="submit"]{
        width: 100px;
        text-align: center;
        float: right;
      }
      #quick-form input {
        outline: none;
        padding: 0px 8px;
        height: 40px;
        border: none;
      }
      @media only screen and (max-width: 800px){
        .division {
          width: 95%;
        }
        .name {
        width: calc(100% - 20px);
        padding: 0px 8px;
        height: 40px;
        border: 1px solid rgb(222, 222, 222);
        margin-bottom: 14px;
        font-size: inherit;
      }
      .desktop-only {
        display: none;
      }
      #mobile-cart {
        float: right;
      }
     }
       @media only screen and (min-width: 800px){
        .division {
          width: 70%;
        }
        #quick-form {
          width: 450px;
          margin: 4px auto;
        }
        .mobile-only {
          display: none;
        }
        .name {
        width: 228px;
        padding: 0px 8px;
        font-size: inherit;
      }
      }